*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#background{
    background-image: url(../assets/body_bg.png);
    background-color: rgb(37, 37, 37);
}

/* Header */
#navbar{
    width: 100%;
    height: 9vh; 
    position: relative;
    background-color: #fff
}

.fixed{
    position: fixed;
}

ol{
    max-width: 910px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    color: #313131
}

li{
    display: block;
    width: 120px;
    height:10vh;
    margin-bottom: 4px;
    cursor: pointer;
}

.radius-left{
    border-bottom-left-radius: 6px;
}

.radius-right{
    border-bottom-right-radius: 6px;
}

.display-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8pt;
    font-weight: 300;
}

.header-icon img{
    width: 20px;
    margin: 4px;  
}

.menu-item:hover .transition{
    filter: brightness(10);
}

.menu-item:hover .transition {
    transition: 0.3s;
}

.menu-item:hover {
    transition: 0.2s;
}

.transition:hover{
    filter: brightness(10);
}

.grey{
    border-bottom: 6px solid  #919191;
    
}

.red{
    border-bottom: 6px solid#e3350d;
    background-color: #e3350d;
    color: white;
}

.orange{
    border-bottom: 6px solid#ee6b2f;
}

.yellow{
    border-bottom: 6px solid#e6bc2f;
}

.grey:hover{
    background-color: #919191;
}


.red:hover{
    background-color: #e3350d;
}
.orange:hover{
    background-color: #ee6b2f;
}
.yellow:hover{
    background-color: #e6bc2f;
}

li:hover{
    color: white;
}

/* Header styling end */

main{
    max-width: 1280px;
    /* position: relative; */
    margin: 0 auto;
    padding:0 150px;
    background-image: url(../assets/container_bg.png);
    background-color: #fff;
}


#side-nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 50px;
    top: 10em;
    margin-left: -150px;
}



h1{
    max-width: 910px;
    background-color: #fff;
    color: #919191;
    font-size: 18pt;
    font-weight: 300;
    margin: -8px auto;
    padding: 1.2em 0 1em 7px;
    align-content: center;
    vertical-align: middle;
}

/* Search styling */

#search-container{ 
    margin: 0 -150px;
    padding: 0 150px;
    height: 10em;
    background-color: #313131;
    color: #fff;
    gap: 1em;
}

.wrapper{
    display: flex;
    max-width: 910px;
    margin: 0 auto;
    padding: 0 20px;
}

#search-left-container{
    padding: 1em 0;
}

#label-search{
    font-size: 18pt;
    font-weight: 400;
    margin: 0.3em 0;
}

#search-input{
    display:flex;
    flex-direction: column;
}
#container-button{
    display: flex;
    gap: 1em;
}
#search-bar{
    height: 3em;
    width: 350px;
    border-radius: 4px;
    border: 2px solid #616161
}

#search-button{
    background: url(../assets/input-search-bg.png) no-repeat;
    background-position: center;
    width: 3.2em;
    height: 3em;
    background-color: #ee6b2f;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#search-text{
    font-size: 11pt;
    font-weight: 500;
    padding: 0.5em 0;
}

#search-info{
    background-color: #4dad5b;
    height: 4.5em;
    width: 450px;
    border-radius: 5px;
    font-size: 13pt;
    font-weight: 400;
    margin-top: 1.8em;
    padding: 1em;
}

/* Filter styling */

.advanced-search{
    background-color: #616161;
    height: 4em;
    margin: 0 -150px;
    display: flex;
    justify-content: center;
    padding-top: 3.2em;
    font-size: 12pt;
    font-weight: 300;
    gap: 8px;
    color: #fff;
}

.advanced-search p, .advanced-search img{
    position: relative;
}
.advanced-search img{
    width: 15px;
    height: 15px;
    padding-bottom: 3px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
#span-border-container{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

#span-border-middle{
    text-align: center;
    background-color: #616161;
    height: 15px;
    width: 350px;

}

#span-border-right, #span-border-left{
    width: 15px;
    height: 15px;
}

#span-border-right{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 0;
    border-color: #616161 transparent transparent transparent;
}

#span-border-left{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent #616161 transparent transparent;
    border-bottom-left-radius:20px;
}

.buttons-container{
    display: flex;
    width: 910px;
    margin: 0 auto;
    margin-top: -15px;
    padding: 50px 20px 30px 20px;
    justify-content: space-between;
    background-color: #fff;
}

.buttons-container div{
    display: flex;
    align-items: center;
}

.filter-list-label{
    padding: 6px;
    color: #919191;
    font-weight: 300;
    margin-right: 20px;
}

.filter-list-icon img{
    height: 18px;
    background-position: center;
    filter: brightness(10);
}

.filter-list-icon{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 0 3px;
    margin: 0 -3px;
}

.filter-list{
    background-color: #313131;
    color: #fff;
    height: 40px;
    width: 250px;
    font-size: 12pt;
    padding: 5px;
    padding-left: 30px;
    border-bottom: 4px;
    margin-left: -30px;
    border-radius: 5px;
    font-weight: 300;
}

#randomize-button{
    display: flex;
    background-color: #30a7d7;
    border: none;
    color: #fff;
    width: 350px;
    height: 45px;
    font-size: 12pt;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: 110px;
}

#randomize-icon{
    filter: invert(10);
    transform: rotate(180deg);
    height: 17px;
}

.pokemons-background{
    width: 910px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    padding: 0 13px;
}


.pokemon-card{
    padding: 15px 7px;

}
.pokemon-card:hover{
    animation: bounce 0.2s ease;
}

.pokemon-image{
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.pokemon-id{
    font-size: 10pt;
    color: #919191;
    margin-left: 10px;
}

.pokemon-name{
    font-size: 16pt;
    margin-top: 13px;
    margin-bottom: 5px;
    font-weight: 400;
    margin-left: 10px;
}

.pokemon-type{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8pt;
    background-color: #b97fc9;
    color: #fff;
    width: 73px;
    height: 18px;
    border-radius: 4px;
    margin-left: 10px;
}

@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

