*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#background{
    background-image: url(../assets/body_bg.png);
    background-color: rgb(37, 37, 37);
}

.container{
    max-width: 910px;
    margin: 0 auto;
    width: 100%;
}

/* Header */
#navbar{
    width: 100%;
    height: 87px; 
    position: relative;
    background-color: #fff;
    z-index: 9;
}

.fixed{
    position: fixed;
}

ol{
    position: relative;
    display: flex;
    align-items: center;
    height: 90px;
    color: #313131
}

li{
    display: block;
    width: 140px;
    height:96px;
    cursor: pointer;
    z-index: 10;
}

.radius-left{
    border-bottom-left-radius: 6px;
}

.radius-right{
    border-bottom-right-radius: 6px;
}

.display-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10pt;
    font-weight: 300;
}

.header-icon img{
    width: 25px;
    margin: 4px;  
}

.menu-item:hover .transition{
    filter: brightness(10);
}

.menu-item:hover .transition {
    transition: 0.3s;
}

.menu-item:hover {
    transition: 0.2s;
}

.transition:hover{
    filter: brightness(10);
}

.grey{
    border-bottom: 6px solid  #919191;    
}

.red{
    border-bottom: 6px solid#e3350d;
    background-color: #e3350d;
    color: white;
}

.active{
    filter: brightness(10);
}

.orange{
    border-bottom: 6px solid#ee6b2f;
}

.yellow{
    border-bottom: 6px solid#e6bc2f;
}

.grey:hover{
    background-color: #919191;
}


.red:hover{
    background-color: #e3350d;
}
.orange:hover{
    background-color: #ee6b2f;
}
.yellow:hover{
    background-color: #e6bc2f;
}

li:hover{
    color: white;
}

/* Header styling end */

main{
    max-width: 1280px;
    position: relative;
    margin: 0 auto;
    padding:0 150px;
    background-image: url(../assets/container_bg.png);
    background-color: #fff;
}


#side-nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 150px;
    overflow: hidden;
    margin-left: -150px;   
    --b: 0; /* border */
    --s: 15px; /* size of the cut */
    --c: rgb(0, 0, 0);
    width: 57px;
    clip-path: polygon(0 0,calc(100% - var(--s)) 0,100% var(--s),100% 100%,0 100%);
}


#side-nav:after {
    content: "";
    position:absolute;
    margin:-20px;
    left: 68px;
    width:40px;
    height:40px;
    transform:rotate(45deg);
    background-color:#000; /* to see where it is */
  }


#enter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 8pt;
    height: 100px;
    width: 57px;
    background-color: #54b564;
    color: #fff;
    overflow: hidden;
    border: 2px solid #000;
    border-bottom: none;
    border-left: none;
    cursor: pointer;   
}

#side-search-button{
    background-color: #616161;
    overflow: hidden;
    height: 70px;
    width: 57px;
    border: none;
    border: 2px solid #000;
    border-top: none;
    border-left: none;
    clip-path: polygon(0 0%, 100% 0, 100% 84%, 46% 84%, 30% 100%, 0 100%);
    cursor: pointer;
}

#side-search-icon{
    margin-top: 20px;
}

#border{
    background-color: #000;
    height: 100px;
    width: 100px;
    clip-path: polygon(0 29%, 26% 0, 100% 0, 100% 4%, 28% 4%, 6% 29%);
    margin-top: 13px;
}

#avatar-icon{
    width: 35px;
}


h1{
    max-width: 910px;
    background-color: #fff;
    color: #919191;
    font-size: 20pt;
    font-weight: 300;
    margin: -12px auto;
    padding: 1.5em 0 1em 7px;
    align-content: center;
    vertical-align: middle;
    z-index: 10;
}

/* Search styling */

#search-container{ 
    margin: 0 -150px;
    padding: 0 150px;
    height: 10em;
    background-color: #313131;
    color: #fff;
    gap: 1em;
}

.wrapper{
    display: flex;
    padding: 0 20px;
}

#search-left-container{
    padding: 1em 0;
}

#label-search{
    font-size: 18pt;
    font-weight: 400;
    margin: 0.3em 0;
}

#search-input{
    display:flex;
    flex-direction: column;
}
#container-button{
    display: flex;
    gap: 1em;
}
#search-bar{
    height: 2.5em;
    width: 350px;
    border-radius: 4px;
    border: 2px solid #616161;
    font-size: 12pt;
}

#search-button{
    background: url(../assets/input-search-bg.png) no-repeat;
    background-position: center;
    width: 3.2em;
    height: 3em;
    background-color: #ee6b2f;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#search-text{
    font-size: 11pt;
    font-weight: 500;
    padding: 0.5em 0;
}

#search-info{
    background-color: #4dad5b;
    height: 4.5em;
    width: 450px;
    border-radius: 5px;
    font-size: 13pt;
    font-weight: 400;
    margin-top: 1.8em;
    padding: 1em;
}

/* Filter styling */

.advanced-search{
    background-color: #616161;
    height: 4em;
    margin: 0 -150px;
    margin-bottom: -1px;
    display: flex;
    justify-content: center;
    padding-top: 3.2em;
    font-size: 12pt;
    font-weight: 300;
    gap: 8px;
    color: #fff;
}

.advanced-search p, .advanced-search img{
    position: relative;
    cursor: pointer;
}
.advanced-search img{
    width: 15px;
    height: 15px;
    padding-bottom: 3px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    
}
#span-border-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 18px;
    width: 100%;  
}

#span-border-middle{
    text-align: center;
    background-color: #616161;
    height: 18px;
    width: 429px;

}

#span-border-left{
    height: 100%;
    transform: rotate(-180deg);
    transform: rotateX(180deg);

}

#span-border-right{
    height: 100%;
    transform: rotate(-180deg);
}

.buttons-container{
    display: flex;
    width: 910px;
    margin: 0 auto;
    margin-top: -15px;
    padding: 50px 20px 30px 20px;
    justify-content: space-between;
    background-color: #fff;
}

.buttons-container div{
    display: flex;
    align-items: center;
}

.filter-list-label{
    padding: 6px;
    color: #919191;
    font-weight: 300;
    margin-right: 20px;
}

.filter-list-icon img{
    height: 18px;
    background-position: center;
    filter: brightness(10);
}

.filter-list-icon{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 0 3px;
    margin: 0 -3px;
}

.filter-list{
    background-color: #313131;
    color: #fff;
    height: 40px;
    width: 250px;
    font-size: 12pt;
    padding: 5px;
    padding-left: 30px;
    border-bottom: 4px;
    margin-left: -30px;
    border-radius: 5px;
    font-weight: 300;
}

.blueButton{
    display: flex;
    background-color: #30a7d7;
    border: none;
    color: #fff;
    width: 350px;
    height: 45px;
    font-size: 12pt;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: 110px;
    cursor: pointer;
}

#randomize-icon{
    filter: invert(10);
    transform: rotate(180deg);
    height: 17px;
}

.pokemons-background{
    width: 910px;
    min-height: 318px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    padding: 0 13px;
    flex-wrap: wrap;
}


.pokemon-card{
    padding: 15px 7px;
    max-width: 221px;   
}



.bounce:hover{
    animation: bounce 0.2s ease;
}

.pokemon-image{
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
}

.pokemon-id{
    font-size: 10pt;
    color: #919191;
    margin-left: 10px;
}

.pokemon-name{
    font-size: 16pt;
    margin-top: 13px;
    margin-bottom: 5px;
    font-weight: 400;
    margin-left: 10px;
}

.pokemon-type-container{
    display: flex;
}

.pokemon-type{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8pt;
    background-color: red;   
    color: #fff;
    width: 73px;
    height: 18px;
    border-radius: 4px;
    margin-left: 10px;
    text-transform: capitalize;
}

.color-grass{
    background-color: #9bcc50;
}

.color-poison{
    background-color: #b97fc9;
}

.color-fire{
    background-color: #fd7d24;
}

.color-fairy{
    background-color: #fd89e9;
}
.color-bug{
    background-color: #729f3f;
}

.color-ghost{
    background-color: #7b62a3;
}
.color-ground{
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
}
.color-normal{
    background-color: #a4acaf;
}
.color-psychic{
    background-color: #f366b9;
}
.color-steel{
    background-color: #9eb7b8;
}

.color-dark{
    background-color: #707070;
}

.color-electric{
    background-color: #eed535;
}

.color-fighting{
    background-color: #d56723;
}
.color-flying{
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
}

.color-ice{
    background-color: #3dc7ef;
}
.color-rock{
    background-color: #a38c21;
}
.color-water{
    background-color: #4592c4;
}
.color-dragon{
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
}

.load-more{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-top: 100px;
    background-color: #fff;
}

#load-more-button{
    width: auto;
    padding: 0 20px;
    margin: 0;  
}

.main-border{
    display: flex;
    bottom: 0;
    height: 6px;
    width: 910px;
    margin-bottom: -6px;
    z-index: 10;
    /* position: absolute; */
    /* left: 0; */
}

.main-border-middle{
    width: 100%;
    background-color: #fff;
    position: relative;
}

.main-border-right{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 8px 0 0;
    border-color: #fff transparent transparent transparent;
}
.main-border-left{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 6px 0;
    border-color: transparent #fff transparent transparent;
}


.dark:hover{
    filter:brightness(0.9);
    transition: 0.2s;
}

.animate__backInLeft{
    animation: backInLeft 0.3s ease-in-out, appear 0.3s ease-in;
}
.animate__backInRight{
    animation: backInRight 0.3s ease-in-out, appear 0.3s ease-in;
}
.animate__backInUp{
    animation: backInUp 0.3s ease-in-out, appear 0.3s ease-in;
}
.animate__backInDown{
    animation: backInDown 0.3s ease-in-out, appear 0.3s ease-in;
}

.footer-container{
    display: flex;
    margin-top: 50px;
}

@keyframes appear {

    from{
        opacity: 0;
    }

    to{
        opacity: 10;
    }
    
}

@keyframes backInLeft {
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0);
    }
    
}
@keyframes backInRight {
    from{
        transform: translateX(100px);
    }
    to{
        transform: translateX(0);
    }
    
}
@keyframes backInDown {
    from{
        transform: translateY(100px);
    }
    to{
        transform: translateX(0);
    }
    
}
@keyframes backInUp {
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateX(0);
    }
    
}


@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
}

